@media (max-width: 620px) {
    .serie-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-serie {
        height: 480px;
    }

    .cartao .imagem-serie {
        max-height: 210px;
    }

    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 18px;
    }

}